.overlay {
    max-width: 1600px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 118px 45px;
    background-color:#2f303a;
    background-image: 
    linear-gradient(
        to right, 
        rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero/hero-mobile.jpg"); 
      background-repeat: no-repeat;   
      background-size: cover;
}

.hero {
  &-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  &-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;
      font-family: $main-font;
      font-style: normal;
      font-weight: 900;
      font-size: 26px;
      line-height: 1.615;
      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: #FFFFFF;
    }
}


@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
  screen and (min-resolution: 192dpi) and (min-width: 320px),
  screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .overlay {
    background-image: url('..//../images/hero/hero-mobile@2x.jpg');
  }
}
@media screen and (min-width: 768px) {
  .overlay {
    background-image: url("../images/hero/hero-tablet.jpg");
  } 
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .overlay {
    background-image: url("../images/hero/hero-tablet@2x.jpg");

  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    background-image: url("../images/hero/hero-desktop.jpg");
  } 
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .overlay {
    background-image: url("../images/hero/hero-desktop@2x.jpg");

  }
}


@media screen and (min-width: 1200px) {
    .hero {
        &-title {
            font-size: 44px;
            line-height: 60px;
            text-align: center; 
        }
    }
}

