.team {
    background-color: #F5F4FA;

    &-container {
        padding: 60px 15px;
        margin: 0 auto;
        
        
    }   
    &-title {
        font-size: 28px;
        line-height: 1.179;
        font-family: $main-font;
        font-style: normal;
        font-weight: 700;
        text-align: center;
        letter-spacing: 0.03em;        
        color: $title-text-color;
    } 

    &-member {
            font-family: $main-font;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.19;
            text-align: center;
            letter-spacing: 0.03em;
            color: $title-text-color;
            margin-bottom: 10px;
    }
}

.team-element {
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 24px;
    margin-top: 30px;

}

 .profession {
    display: block;
    margin-bottom: 16px;
    font-family: $main-font;
    font-style: 400;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    color: $primary-text-color;
}
.content {
    display: block;
    padding-top: 30px;
    border-radius: 0px 0px 4px 4px;   
}



@media  screen and (min-width: 320px)  and (max-width: 767px) {
    .team {
        &-container {
            max-width: 480px;
        }
        &-element {
            width: 100%;
           
        }
        }

        
    }


@media  screen and (min-width: 768px) and (max-width: 1199px) {
    .team {
        &-container {
            width: 768px;        
        } 

        &-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap; 
        }   
        &-element:nth-child(odd) {
            margin-right: 30px;
        } 
    }
       
}
    .team-thumb {
            display: flex;
            flex-direction: column;
            
    }
    

@media  screen and (min-width: 1200px) {
    .team {
      
        &-container {
            padding-bottom: 94px; 
            padding-top: 94px;
            margin-left: auto;
            margin-right: auto; 
            width: 1200px;   
        }
        &-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap; 
        }   
        &-element + .team-element {
            margin-left: 30px;
        }     
                      
    } 
        &-title {
            font-size: 36;
            line-height: 1.167;
        }
}

