.advantages {
    &-container {
        padding-top: 60px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 60px;
        margin: auto;
       
        
     }
     &-list {
        & .item {
            width: 450px;
            margin-bottom: 30px; 
              
                        &::before {
                    display: block;
                    content: "";
                    width: 450px;
                    height: 120px;
                    background: #F5F4FA;
                    border-radius: 4px;
                    background-repeat: no-repeat;
                    margin-bottom: 30px;
                    background-position: center;
                 }   
                 &:nth-child(1)::before {
                    background-image: url(../images/advantages/antena.svg);
                }
                 &:nth-child(2)::before {
                    background-image: url(../images/advantages/clock.svg);
                }
                 &:nth-child(3)::before {
                    background-image: url(../images/advantages/vector.svg);
                }
                &:nth-child(4):before {
                    background-image: url(../images/advantages/astronaut.svg);
                }
        }
  
    }
    &-title {
    display: block;
    width: 450px;
    text-align: center; 
    align-items: center; 
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: $title-text-color;
}  
    &-description {
        font-family: $main-font;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: $primary-text-color;
        
    }
}
.advantages-list .item:nth-child(n+3) {
    margin-bottom: 0px;
}

@media screen and (max-width: 767px) {
    .advantages-container {
        max-width: 480px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .advantages-container {
        width: 768px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

    }
    .advantages-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;       
    }
   
    .advantages-list .item::before,
    .advantages-list .item,
    .advantages-title,
    .advantages-description {
        width: 354px; 
          
    }  
    .advantages-list .item:nth-child(odd) {
        margin-right: 30px;
    }     
}   

@media screen and (min-width: 1200px) {
    .advantages-container {
        width: 1200px;
        padding-bottom: 94px;

    }
    
    .advantages-list .item::before,
    .advantages-list .item,
    .advantages-title,
    .advantages-description {
        width: 270px; 
    }
    .advantages-list {
        display: flex;
        justify-content: center;       
    }
    .advantages-list .item:not(:last-child) {
        margin-right: 30px;
    }       
}

