.advantages {
    &-container {
        padding-top: 60px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 27px;
        margin-right: auto;
        margin-left: auto;
        outline: 1px solid blue;
    }

    &-list {
        & .item {
            margin-bottom: 30px; 
              
                & + .item {
                    margin-left: 0px;
                }

                &::before {
                    display: block;
                    content: "";
                    height: 120px;
                    background: #F5F4FA;
                    border-radius: 4px;
                    background-repeat: no-repeat;
                    margin-bottom: 30px;
                    background-position: center;
                 }   
                 &:nth-child(1)::before {
                    background-image: url(../images/advantages/antena.svg);
                }
                 &:nth-child(2)::before {
                    background-image: url(../images/advantages/clock.svg);
                }
                 &:nth-child(3)::before {
                    background-image: url(../images/advantages/vector.svg);
                }
                &:nth-child(4):before {
                    background-image: url(../images/advantages/astronaut.svg);
                }
        }
    }

        
        &-title {
        font-family: $main-font;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 10px;
        color: $title-text-color;
    }
    &-description {
        font-family: $main-font;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: $primary-text-color;
    }
}
    



@media screen and (min-width: 480px) {
    .container {
        width: 480px;
    }

    .advantages-list .item::before,
    .advantages-list .item,
    .advantages-description {
        width: 450x;
}
//     .advantages-list .item + .item:not(:last-child) {
//         margin-left: 0px;
//     }
//     .advantages-list .item + .item:last-child {
//         margin-left: 0px;
//     }

    .advantages-title {
        display: block;
        width: 450px;
        text-align: center; 
        align-items: center; 
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
    .advantages-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;       
    }

    .advantages-list .item::before,
    .advantages-list .item,
    .advantages-title,
    .advantages-description {
        width: 354px; 
          
    }  
    .advantages-list .item:nth-child(odd) {
        margin-right: 30px;
}       
}

@media screen and (min-width: 1200px) {
    .advantages-list {
        width: 1200px;

    }
    .advantages-list .item::before,
    .advantages-list .item,
    .advantages-title,
    .advantages-description {
        width: 270px; 
    }

    .advantages-list .item:not(:last-child) {
        margin-right: 30px;
}       
}

// .advantages {
//     width: 1200px;
//     padding-top: 94px;
//     padding-bottom: 94px;
//     margin: 0 auto;    
    
//         &-container {
//         // display: flex;
//         // width: 1200px;
//         padding-right: 15px;
//         padding-left: 15px;
//         margin-left: auto;
//         margin-right: auto;
//         align-items: center;
//         justify-content: space-between;  
//         }
//     }
//  .advantages-list .item {
//     width: 270px; 
    
//     & + .item {
//         width: 270px; 
//         margin-left: 30px;
//      }
//     &::before {
//         display: block;
//         content: "";
//         height: 120px;
//         background: #F5F4FA;
//         border-radius: 4px;
//         background-repeat: no-repeat;
//         margin-bottom: 30px;
//         background-position: center;
//      }   
//      &:nth-child(1)::before {
//         background-image: url(../images/advantages/antena.svg);
//     }
//      &:nth-child(2)::before {
//         background-image: url(../images/advantages/clock.svg);
//     }
//      &:nth-child(3)::before {
//         background-image: url(../images/advantages/vector.svg);
//     }
//     &:nth-child(4):before {
//         background-image: url(../images/advantages/astronaut.svg);
//     }
// }
// .advantages-title {
//     font-family: $main-font;
//     font-style: normal;
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     margin-bottom: 10px;
//     color: $title-text-color;
// }
// .advantages-description {
//     font-family: $main-font;
//     font-style: normal;
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 1.71;
//     letter-spacing: 0.03em;
//     color: $primary-text-color;
// }
